body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.highlight {
    color: #33a852;
    font-weight: bold;
}

p {
    color: #555;
    margin-bottom: 1.5rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #33a852;
}

.btn {
    background: #33a852;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #2a8b43;
}

.login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.login-link a {
    color: #33a852;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.card .btn {
    margin-top: auto;
}
